
body{
    font-family: montserrat, sans-serif;
}


/* ! navbar */

#title{
    background-color: #ff4c68;
}

.row h1{
    font-weight: 800;
    font-size: 2.8rem;
    line-height: 2;
    color: white;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.navbar{
    padding-bottom: 4.5rem;
}

.container-fluid .navbar-brand{
    font-size: 2.5rem;
    font-weight: 500;
    font-family: ubuntu, sans-serif;
    text-transform: lowercase;
}

#navbarSupportedContent{
    justify-content: flex-end;
    font-size: 1.2rem;
    font-weight: 400;
}

#navbarSupportedContent .nav-link{
    padding: 0 1rem;
}


/* ! header */

.row{
    margin: 0;
}

.row .download-button{
    padding: 0.5rem 1rem 0.6rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
    
}

.col-lg-6{
    padding-top: 1rem;
    position: relative;
}

.col-lg-6 img{

    position: absolute;
    width: 60%;
    margin: 0 auto;
    transform: rotate(25deg);
    right: 20%;
}


/* ! features section */

#features{
    position: relative;
    text-align: center;
    padding: 6rem;
    background-color: white;
    /* we dont have to set this element z-index because it came later in HTML flow so it will by default appear on top of prev. one */
    /* z-index: 1;  */
}

.feature-desc i{
    font-size: 4rem;
    color: #fb9674;
    padding-bottom: 1rem;
}

.feature-desc i:hover{
    color: #ff4c68;
}

.feature-desc h3{
    font-size: 1.3rem;
    font-weight: 600;
}

.feature-desc p{
    font-size: 1rem;
    color: rgb(164, 164, 164);
}


/* ! Testimonials section */

#testimonials{
    padding: 5rem 1rem 2rem;
    color: white;
}

.testimonials-desc{
    width: 80%;
    margin: 0 auto;
}

#testimonials,#press{
    background-color: #ff7d69;
}

#testimonials img{
    width: 9%;
    height: auto;
    margin: 1rem 1rem;
    border-radius: 100%;
    padding: 0;
    
}

.testimonial-text{
    font-size: 2.738rem;
    padding: 1rem;
    line-height: 1.5;
}


/* ! press section */

#press{
    padding: 2rem 0rem 5rem;
}

#press img{
    width: 20%;
}



/* ! pricing section */

#pricing{
    padding: 10rem 3rem 10rem;
}

#pricing h2{
    padding: 1rem 0;
    font-size: 2.5rem;
}

#pricing p{
    padding: 0rem 0 1rem;
    color: grey;
}


.card{
    border: 1px solid  rgb(232, 232, 232);
    border-radius: 0.5rem;
}


.card h3{
    background-color: rgb(232, 232, 232);
}

.card *{
    margin: 0;
}


/* ! CTA section */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 5rem;
    color: white;
}

#cta button{
    margin: 2rem 0.5rem 0;
}

#cta h3{
    font-size: 3rem;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    }


/* responsive - media queries */

@media (max-width:1080px) {
    
    .col-lg-6{
        text-align: center;
    }
    .col-lg-6 img{
    position: static;
        width: 70%;
        transform: rotate(0deg);
        margin: 2rem auto; 
    }
}
